body
{
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6
{
  font-weight: 600;
}

a.btn-main,
.btn-main,
.card-image-1,
.form-border input[type=text], .form-border input[type=email], .form-border textarea, .form-underline input[type=email], .form-border input[type=password], .form-border input[type=date], .form-border select,
.post-image
{
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.section-hero {
  background-image: url('../images/background/me.png'), url('../images/background/l5.jpg');
  background-size: auto 100%, cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.section-resume {
  background-image: url('../images/background/l6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.section-resume::after {
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.section-resume::before {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  bottom: 0;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section-contact {
  background-image: url('../images/background/l5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.section-contact::after {
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.section-contact::before {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 25%;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}